<footer>
  <div class="footer-content">
    <!-- Sol Tarafta "My Developedia AZ" Yazısı -->
    <div class="footer-left">
      <p>My Developedia Azerbaijan</p>
      <img src="{{ '/assets/MDA-logo.avif' | relative_url }}" alt="Site Logo" height="50">
    </div>

    <!-- Sağ Tarafta Sosyal Medya Linkleri -->
    <div class="footer-right">
      <a href="https://github.com/knvmrt/my-developedia-azerbaijan" target="_blank">
        GitHub
      </a>
      <a href="https://knvmrt.vercel.app/" target="_blank">
        KNVMRT Web Site:
      </a>
    </div>
  </div>

  <!-- Alt Kısımda Lisans Bilgisi -->
  <div class="footer-bottom">
    <p>© <span id="current-year">2023</span> My Developedia AZ. All rights reserved.</p>
  </div>
</footer>